@charset "utf-8";
/* -------------------------------------------------
author:   liaoyanhua
email:    739319040@qq.com
qq:       739319040
----------------------------------------------------*/
#yewuTitle{
	height:45px;
	margin-left:150px;
	clear:both;
	margin-top:20px;
	font-size:14px;
	line-height:30px;
	background:url(../images/newsNavTiltleBg.jpg) repeat-x top left;
}
#yewuList{
}
#yewuList ul{}
#yewuList ul li{
	list-style:none;
	clear:both;
	
}
.yewuContTitle{
	height:20px;
	width:80px;
	margin-top:40px;
	margin-left:20px;
	float:left;
	color:#ffffff;
	text-align:center;
	line-height:20px;
	background-color:#626568;
}
.yewuCont{
	width:810px;
	float:right;
	background:url(../images/yewuContBg.jpg) repeat-x bottom left;
}
.yewuContWord{
	width:480px;
	float:left;
}
.yewuContWord p{
	margin-top:5px;
	padding-bottom:15px;
	margin-bottom:15px;
	text-indent:2em;
	line-height:20px;
}
.yewuContImg{
	width:280px;
	float:right;
}